.App {
  text-align: justify;
  width: 100%;
  height: 700px;
  display: grid;
  place-content: center;
  background: url(fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
#Conversor{
  width: 550px;
  height: 350px;
  background-color: #5a12ac;
  border-radius: 8%;
  
  
}
#Name{
  width: 100%;
  height: 38px;
  border-bottom: 2px solid rgb(11, 11, 11);
  font-size: 22px;
  display: grid;
  color: rgb(14, 14, 14);
  place-content: center;
  background-color: rgb(112, 236, 236);
  border-radius: 10%;
}
#Menu{
  width: 100%;
  height: calc(100% - 40px);
  display: flex;
  
  position: relative ;
}
.Diseño{
  position: sticky;
  display: block;
 
}
.Diseño:nth-child(1){
  top: 15px;
  left: 15px;
  width: 50%;
  height: 3px;
}
.Diseño:nth-child(2){
  top: 15px;
  left: 1spx;
  width: 3px;
  height: 25%;
}
.Diseño:nth-child(3){
  right: 15px;
  bottom: 15px;
  width: 50%;
  height: 3px;
}
.Diseño:nth-child(4){
  right: 15px;
  bottom: 15px;
  width: 3px;
  height: 25%;
}
.Datos{
  width: 50%;
  height: 100%;
  color: rgb(194, 242, 242);
  display: center;
  place-content: center;
  font-size: 18px;
  margin-right: 35%;
  margin-top: 10%;
  text-align: center;
}